<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Administry - Admin Template by Zoran Juric</title>
<meta name="description" content="Administry - Admin Template by Zoran Juric" />
<meta name="keywords" content="Admin,Template" />
<!-- Favicons --> 
<link rel="shortcut icon" type="image/png" href="img/favicons/favicon.png"/>
<link rel="icon" type="image/png" href="img/favicons/favicon.png"/>
<link rel="apple-touch-icon" href="img/favicons/apple.png" />
<!-- Main Stylesheet --> 
<link rel="stylesheet" href="css/style.css" type="text/css" />
<!-- Colour Schemes
Default colour scheme is blue. Uncomment prefered stylesheet to use it.
<link rel="stylesheet" href="css/brown.css" type="text/css" media="screen" />  
<link rel="stylesheet" href="css/gray.css" type="text/css" media="screen" />  
<link rel="stylesheet" href="css/green.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/pink.css" type="text/css" media="screen" />  
<link rel="stylesheet" href="css/red.css" type="text/css" media="screen" />
-->
<!-- Your Custom Stylesheet --> 
<link rel="stylesheet" href="css/custom.css" type="text/css" />
<!--swfobject - needed only if you require <video> tag support for older browsers -->
<script type="text/javascript" src="js/swfobject.js"></script>
<!-- jQuery with plugins -->
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<!-- Could be loaded remotely from Google CDN : <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
<script type="text/javascript" src="js/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.tabs.min.js"></script>
<!-- jQuery tooltips -->
<script type="text/javascript" src="js/jquery.tipTip.min.js"></script>
<!-- Superfish navigation -->
<script type="text/javascript" src="js/jquery.superfish.min.js"></script>
<script type="text/javascript" src="js/jquery.supersubs.min.js"></script>
<!-- jQuery popup box -->
<script type="text/javascript" src="js/jquery.nyroModal.pack.js"></script>
<!-- Internet Explorer Fixes --> 
<!--[if IE]>
<link rel="stylesheet" type="text/css" media="all" href="css/ie.css"/>
<script src="js/html5.js"></script>
<![endif]-->
<!--Upgrade MSIE5.5-7 to be compatible with MSIE8: http://ie7-js.googlecode.com/svn/version/2.1(beta3)/IE8.js -->
<!--[if lt IE 8]>
<script src="js/IE8.js"></script>
<![endif]-->
<script type="text/javascript">

$(document).ready(function(){
	
	/* setup navigation, content boxes, etc... */
	Administry.setup();
	
});
</script>
</head>
<body>
	<!-- Header -->
	<header id="top">
		<div class="wrapper">
			<!-- Title/Logo - can use text instead of image -->
			<div id="title"><img src="img/logo.png" alt="Administry" /><!--<span>Administry</span> demo--></div>
			<!-- Top navigation -->
			<div id="topnav">
				<a href="#"><img class="avatar" src="img/user_32.png" alt="" /></a>
				Logged in as <b>Admin</b>
				<span>|</span> <a href="#">Settings</a>
				<span>|</span> <a href="#">Logout</a><br />
				<small>You have <a href="#" class="high"><b>1</b> new message!</a></small>
			</div>
			<!-- End of Top navigation -->
			<!-- Main navigation -->
			<nav id="menu">
				<ul class="sf-menu">
					<li><a href="dashboard.html">Dashboard</a></li>
					<li>
						<a href="styles.html">Styles</a>
						<ul>
							<li>
								<a href="styles.html">Basic Styles</a>
							</li>
							<li>
								<a href="#">Sample Pages...</a>
								<ul>
									<li><a href="samples-files.html">Files</a></li>
									<li><a href="samples-products.html">Products</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="current"><a href="grid.html">Grid</a></li>
					<li><a href="tables.html">Tables</a></li>
					<li><a href="forms.html">Forms</a></li>	
					<li><a href="graphs.html">Graphs</a></li>	
				</ul>
			</nav>
			<!-- End of Main navigation -->
			<!-- Aside links -->
			<aside><b>English</b> &middot; <a href="#">Spanish</a> &middot; <a href="#">German</a></aside>
			<!-- End of Aside links -->
		</div>
	</header>
	<!-- End of Header -->
	<!-- Page title -->
	<div id="pagetitle">
		<div class="wrapper">
			<h1>Grid System</h1>
			<!-- Quick search box -->
			<form action="" method="get"><input class="" type="text" id="q" name="q" /></form>
		</div>
	</div>
	<!-- End of Page title -->
	
	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">
				<!-- Left column/section -->
				<section class="column first">					

					<h3>Basic Columns</h3>
					
					<div class="width8">
						<h4>width8</h4>
						<p class="box">&nbsp;</p>						
					</div>

					<div class="colgroup">
						<div class="column width1 first">
							<h4>width1</h4>
							<p class="box">&nbsp;</p>
						</div>
						<div class="column width7">
							<h4>width7</h4>
							<p class="box">&nbsp;</p>
						</div>
					</div>
								
					<div class="colgroup">
						<div class="column width2 first">
							<h4>width2</h4>
							<p class="box">&nbsp;</p>
						</div>
						<div class="column width6">
							<h4>width6</h4>
							<p class="box">&nbsp;</p>
						</div>
					</div>
					
					<div class="colgroup">
						<div class="column width3 first">
							<h4>width3</h4>
							<p class="box">&nbsp;</p>
						</div>
						<div class="column width5">
							<h4>width5</h4>
							<p class="box">&nbsp;</p>
						</div>
					</div>
				
					<div class="colgroup">
						<div class="column width4 first">
							<h4>width4</h4>
							<p class="box">&nbsp;</p>
						</div>
						<div class="column width4">
							<h4>width4</h4>
							<p class="box">&nbsp;</p>
						</div>
					</div>
				
					<div class="colgroup">
						<div class="column width2 first">
							<h4>width2</h4>
							<p class="box">&nbsp;</p>
						</div>
						<div class="column width2">
							<h4>width2</h4>
							<p class="box">&nbsp;</p>
						</div>
						<div class="column width2">
							<h4>width2</h4>
							<p class="box">&nbsp;</p>
						</div>
						<div class="column width2">
							<h4>width2</h4>
							<p class="box">&nbsp;</p>
						</div>
					</div>
					
					<div class="clear">&nbsp;</div>
					
					<h3>Columns Within Columns</h3>

					<div class="colgroup">
						<div class="column width4 first">
							<h4>width4</h4>
							<div style="background:#f6f6f6; border-top:1px solid #ddd;">
								<div class="colgroup">
									<div class="column width2 first">
										<h5>width2</h5>
										<p class="box">&nbsp;</p>
									</div>
									<div class="column width2">
										<h5>width2</h5>
										<p class="box">&nbsp;</p>
									</div>
								</div>
								<div class="clear">&nbsp;</div>
							</div>
						</div>
						<div class="column width4">
							<h4>width4</h4>
							<div style="background:#f6f6f6; border-top:1px solid #ddd;">
								<div class="colgroup">
									<div class="column width1 first">
										<h5>width1</h5>
										<p class="box">&nbsp;</p>
									</div>
									<div class="column width1">
										<h5>width1</h5>
										<p class="box">&nbsp;</p>
									</div>
									<div class="column width1">
										<h5>width1</h5>
										<p class="box">&nbsp;</p>
									</div>
									<div class="column width1">
										<h5>width1</h5>
										<p class="box">&nbsp;</p>
									</div>
								</div>
								<div class="clear">&nbsp;</div>
							</div>
						</div>
					</div>
					
					<div class="clear">&nbsp;</div>
					
				</section>
				<!-- End of Left column/section -->
				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->
	
	<!-- Page footer -->
	<footer id="bottom">
		<div class="wrapper">
			<nav>
				<a href="#">Dashboard</a> &middot;
				<a href="#">Content</a> &middot;
				<a href="#">Reports</a> &middot;
				<a href="#">Users</a> &middot;
				<a href="#">Media</a> &middot;
				<a href="#">Events</a> &middot;
				<a href="#">Newsletter</a> &middot;
				<a href="#">Settings</a>
			</nav>
			<p>Copyright &copy; 2010 <b><a href="http://themeforest.net/user/zoranjuric" title="Visit my profile page @ThemeForest">Zoran Juric</a></b> | Icons by <a href="http://www.famfamfam.com/">FAMFAMFAM</a></p>
		</div>
	</footer>
	<!-- End of Page footer -->
	
	<!-- Animated footer -->
	<footer id="animated">
		<ul>
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Content</a></li>
			<li><a href="#">Reports</a></li>
			<li><a href="#">Users</a></li>
			<li><a href="#">Media</a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Newsletter</a></li>
			<li><a href="#">Settings</a></li>
		</ul>
	</footer>
	<!-- End of Animated footer -->
	
	<!-- Scroll to top link -->
	<a href="#" id="totop">^ scroll to top</a>

<!-- User interface javascript load -->
<script type="text/javascript" src="js/administry.js"></script>
</body>
</html>